body {
  margin: 0;
  padding: 0;
}

#words span {
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14pt;
}

#words {
  padding: 15px;
}

#words span.revealed {
  /*background-color: yellow;*/
}

#reveal-container {
  margin-top: 30px;
}

#delete-container {
  margin-top: 30px;
}

#passage-container {
  margin-bottom: 20px;
}

#edit-container {
  margin-top: 40px;
}

#slider-container {
  margin-top: 15px;
  margin-bottom: 30px;
}